{% extends 'base.html' %}
        {% block content %}
        <style>
            
                h3 {
                  background-color: black;
                  color: #fff;
                  padding: 20px;
                  text-align: center;
                  font-weight: bold;
                

                }
            
                main {
                  margin: 20px;
                
                }
                ul {
                     color: white;
                     text-align: center;
                     padding: 2em;

                }
                p {
                     padding: 2em;
                     font:400
                }

                h1 {
                     color: white;
                     text-align: center;
                     font:400

                }
                img {
                     width: 300px;
                     border: 10px solid black;
                     padding: 10px 20px;
                     margin: auto;
                     display: flex;
                     justify-content: center;
                }
                     
                
         </style>


 <main>
  <h3>My Passion for Arts and Craft</h2>
  <h1>
        I love the beauty of nature from the world around me , the emotions of human experiences, and 
        the intricacies of everyday life. 
  </h1>
  <h1>
        Collecting Art is not just a hobby for me; it is an integral part of who I am, and I am dedicated to nurturing and honoring that passion every step of the way.
  </h1>
  <p>
  <a href="https://imgur.com/KPU8Rz8"><img src="https://i.imgur.com/KPU8Rz8.jpg" title="source: imgur.com" /></a>
  </p>
  <h3>Useful Links for Arts & Crafts Lovers</h2>
  <ul>
    <p>Artwork showcases and exhibitions</p>
    <p>Craft workshops and classes</p>
    <p>Online resources and tutorials</p>
    <p>Community engagement and collaboration</p>
  </ul>
 </main>
        {% endblock %}