{% extends 'base.html' %}
        {% block content %}
        <style>
            
                h2 {
                  background-color: #333;
                  color: #fff;
                  padding: 20px;
                  text-align: center;
                }
            
                main {
                  margin: 20px
                }
                h1 {
                    color: #333;
                }

                p {
                     color: #666;
                     text-align: center;
                }
                
         </style>


 <main>
  <h2>My Passion for Arts and Craft</h2>
  <p>
        I love the beauty of nature from the world around me , the emotions of human experiences, and 
        the intricacies of everyday life. 

        collecting Art is not just a hobby for me; it is an integral part of who I am, and I am dedicated to nurturing and honoring that passion every step of the way.
  </p>


  <h2>Useful Links for Arts & Crafts Lovers</h2>
  <ul>
    <p>Artwork showcases and exhibitions</p>
    <p>Craft workshops and classes</p>
    <p>Online resources and tutorials</p>
    <p>Community engagement and collaboration</p>
  </ul>
</main>
        {% endblock %}